.fondo{
	background-color: #DDDDDD;
  
	
}

.font-White{
  color: white;
  font-size: 15px;
  margin:3px;
 
}

#search{
 margin-top: 10px;
}

.forward {
z-index: 5px;
}

.thumbnail-efect:hover {

 border-style: solid;
 border-color: gray;
 box-shadow: 2px 2px 25px #999;


}

.thumbnail-efect1:hover {

 border-style: solid;
 border-color: gray;
 box-shadow: 2px 2px 25px #999;

}

.thumbnail-efect:hover img{

 -webkit-transform: scale(1.05);
    transform: scale(1.05)

}

.thumbnail-efect:hover p{
  color:#243EFF;
}

.thumbnail-efect:hover h4{
  color:#243EFF;
}

.thumbnail-efect:hover .lead{
  color:#243EFF;
}

.thumbnail-efect:hover .title{
  color:#243EFF;
}

/*
img:hover{
   -webkit-transform: scale(1.05);
    transform: scale(1.05)
}
img{
  margin: 10px;
}
*/
.contenedor {overflow:hidden;}


.imag-producto{
margin-top:15px;
margin-bottom:15px;
}

a:link   
{   
 text-decoration:none;
}

a{
  color: black;
}
/*nav.navbar {
    background-color: #FFBF00;
}*/

/*Buscador*/
#imaginary_container{
    /*margin-top:20%; /* Don't copy this */
	margin-top:10px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.pantalla-all{
  height:  100vh;
  width: 100%;
}

.foto-fisi2{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ3m8ZDsL2nDeZ_UaQ67pmjVCgjpVdLi38-l6hmpWbeJInRLtlaA");
  height:  50%;


}
/*Buscador*/


.info{
  bottom: 0;
}

.panel-navegacion{
  position: fixed;
top: 0;
}

#nav-transp{
}

.black{
  background-color:black;
}

#fott{
  
  bottom: 0;
  max-height: 100px;
  background-color: black;
}

.icono{
  
 width:  20%!important;
 margin-bottom: 10px;
}

.foot{
  min-height: 100px;
  width: 100%;
  background-color: black;
}

.contacto{
  height: 200px;
  background-color:  #FFBF00 !important;
  border-style: solid;
 border-color: gray;
 padding: 30px !important;
 width: 100%;
 padding-left:  0px;
 padding-right: 0px;
 
 
 
}

.noticias{
  color: #C00;
  font-family: Western,"Times New Roman", Georgia, Serif;
  text-align: center;
}

.enlace {
  margin-top: 30px;
  margin-left: 30px; 
  bottom: 0px;
}

.fondo-pantalla{
  background-color:   #FFBF00;
  width: 100%;
  height:  100vh;
}

.back{
  background:transparent;
}

.icono2{
  width: 80%;
  height: 80%;
}

.titulo{
  color:#9AD7FF;
}

.detalle{
  color: #8BC2E5;
}

.titulo1{
  color: #402E06;
}
.detalle1{
  color: #402E06;
}

.fondo-color{
  background-color:#D4FBFF; 
}

.titulo2{
  color:#353F40 ;
}



.color-fondo1{
 background-color:#273640;
}


.color-fondo2{
 background-color:#FFB918; 
}
/*nav.navbar{
  background-color:   #FFBF00;
}*/



.capa {background-color: transparent; }

.carousel{
  height: 50%;
}

img.pequeña{
  height: 100px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}


img.grande{
  height: 500px;
  width: 700px;
  margin:15px;
   -webkit-transform: scale(1.0);
    transform: scale(1.0)
}

.slider{
     -webkit-transform: scale(1.0);
    transform: scale(1.0)
}

.uno {
    float: left;
    overflow: hidden;
    padding: 44px 14px 32px;
    width: 50%;
    background: #70A6CF;
    text-align: center;
    border-right: 1px solid #fff;
}

.dos {
    overflow: hidden;
    background: #CFE1EF;
    text-align: center;
    padding: 13px 12px 0px;
    position: relative;
}

.tres {
    text-align: center;
    background: #A0C3DF;
    overflow: hidden;
    border-top: 1px solid #fff;
    padding: 22px 12px 11px;
}

.cuatro {
    background: #CFE1EF;
    padding: 21px 12px 10px 134px;
    position: relative;
    border-top: 1px solid #fff;

}

.cinco {
    float: left;
    overflow: hidden;
    background: #A0C3DF;
    text-align: center;
    padding: 13px 12px 32px;
    position: relative;
}

.seis {
    overflow: hidden;
    background: #70A6CF;
    text-align: center;
    padding: 13px 12px 32px;
    position: relative;
}

.txt-grande {
    color: #464652;
    font-size: 32px;
    line-height: 1.3;
}

.txt-chico {
    font-size: 15px;
    text-transform: uppercase;
    color: #4C4C4C;
    line-height: 1.5;
}

.eventos{
    float: left;
    overflow: hidden;
    padding: 44px 14px 32px;
    width: 50%;
     height:  50%;
    background-color:#273640;
    text-align: center;
    border-right: 1px solid #fff;
    color:#D4FBFF;
    opacity: 0.8;
}
.eventos1{
    float: left;
    overflow: hidden;
    padding: 44px 14px 32px;
    width: 50%;
     height:  50%;
    background-color:#FFB918; 
    text-align: center;
    border-right: 1px solid #fff;
    opacity: 0.8;
}

.fecha{
  color: white;
  background-color: #273640;
  width: 20%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  transition-timing-function: linear;
}

.dia{
  font-weight: bolder;
  font-size: 130%;
}

.mes{
  font-size: 110%;
  display: block;
}

.des-evento{
  font-weight: bolder;
  margin-top: 25px;
}

.hora{
  text-align: left;

}

.vista-previa{
  width: 75% !important;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.tam{
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ3m8ZDsL2nDeZ_UaQ67pmjVCgjpVdLi38-l6hmpWbeJInRLtlaA");
  
}

.fecha1{
  color: #402E06;
  background-color: #FFB918;
  width: 20%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
 
}

/*.eventos1:hover .fecha{

 padding-bottom: 60px;
 padding-top: 30px;

}*/

/*.eventos:hover .fecha1{

 padding-bottom: 60px;
 padding-top: 30px;

}*/

.eventos:hover .hora{
   text-align: right;

}

.eventos1:hover .hora{
   text-align: right;
   
}

.eventos:hover {
     opacity: 1;
}
.eventos1:hover {
     opacity: 1;
}
.title{
 
      font-size: 22px;
    line-height: 1.15;
    font-family: "Noticia Text"
}

#body{
  background-image:  url('http://aulavirtual.sistemas.unmsm.edu.pe/posgrado/pluginfile.php/2/course/section/20/FISI.jpg');
  background-repeat: no-repeat;
  background-size: 100% ;
  background-attachment: fixed;
}

  div#vacio{
  width: 100%;
   height:  100vh;
  height: 600px;

}

*{
  margin: 0px;
  padding: 0px;
}

.lema{
  color:black;
  font-weight: bold;
  font-size: 2.5em;
  padding: 250px 100px 250px;
  height: 600px;
  text-align: center;
  font-family: "Noticia Text"

}



.stroke {
text-align: center;
color: #FCDB00;
font-family: impact;
font-size: 46px;
text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
-webkit-text-fill-color: white;
-webkit-text-stroke: 2px black;
}

.str{ 
 text-align: center; 
 font-size: 35px;
 -webkit-text-fill-color: white;
 text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
 -webkit-text-fill-color: #273640;
-webkit-text-stroke: 2px #FFB918;

}